.spinner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(2.5);
}
